body {
    background-color: #e0f7fa;
}

main > .row {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

main > .row > .col {
    display: flex;
    justify-content: center;
}

main > .row > .col > img {
    box-shadow: 2px 2   px 1px 1px rgba(0,0,0,0.1);
}